<!DOCTYPE html>
<div id="footer-content" style="width: 100%;">
    <!-- Copyright -->
    <div class="copyright">
        <ul class="menu">
            <li>&copy; <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>FutureTrust Consortium. All rights reserved</li>
            <li><a href="https://www.futuretrust.eu/data-protection">Privacy Policy</a></li>
            <li><a href="mailto:info@futuretrust.eu">info@futuretrust.eu</a></li>
        </ul>
    </div>
</div>