<!DOCTYPE html>
<!--script src="https://www.eid.as/fileadmin/eidas-files/templates/js/jquery.dropotron.min.js"></script>
<script src="https://www.eid.as/fileadmin/eidas-files/templates/js/skel.min.js"></script>
<script src="https://www.eid.as/fileadmin/eidas-files/templates/js/util.js"></script>
<script src="https://www.eid.as/fileadmin/eidas-files/templates/js/main.js"></script-->

<div id="banner" class="col-sm-12">

    <div class="col-sm-2">
        <a href="https://www.futuretrust.eu/" id="ft-logo">
            <img src="@{/images/FutureTrust-Logo-1.jpg}" class="img-responsive" alt="FutureTrust"></img>
        </a>
    </div>
    <div class="col-sm-10"></div>
</div>
<!-- Nav -->
<nav id="nav">
    <ul class="navtop">
        <li><a href="https://www.futuretrust.eu/project">Project</a></li>
        <li><a href="https://www.futuretrust.eu/overview">Overview</a></li>
        <li><a href="https://sigs.futuretrust.eu/signer">SigS</a></li>
        <li class="item active"><a href="https://www.futuretrust.eu/vals">ValS</a></li>
        <li><a href="https://www.futuretrust.eu/eid">eID</a></li>
        <li><a href="https://www.futuretrust.eu/press">PresS</a></li>
        <li><a href="https://www.futuretrust.eu/gtsl">gTSL</a></li>
        <li><a href="https://www.futuretrust.eu/emandate">eMandate</a></li>
        <li><a href="https://www.futuretrust.eu/einvoice">eInvoice</a></li>
        <li><a href="https://www.futuretrust.eu/eapostille">eApostille</a></li>
        <li><a href="https://www.futuretrust.eu/eyourservice">eYourService</a></li>

        <li>
            <a href="https://twitter.com/FutureTrust_EU" target="_blank">
                <img id="comp-iwkiy29b0imageimageimage" alt="Twitter Social Icon" data-type="image" style="width: 20px; height: 20px; object-fit: cover;"
                     src="https://static.wixstatic.com/media/9c4b521dd2404cd5a05ed6115f3a0dc8.png/v1/fill/w_20,h_20,al_c,usm_0.66_1.00_0.01/9c4b521dd2404cd5a05ed6115f3a0dc8.png" />
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/groups/8562515" target="_blank" class="shareBtn">
                <img id="comp-iwkiy29b1imageimageimage" alt="LinkedIn Social Icon" data-type="image" style="width: 20px; height: 20px; object-fit: cover;"
                     src="https://static.wixstatic.com/media/48a2a42b19814efaa824450f23e8a253.png/v1/fill/w_20,h_20,al_c,usm_0.66_1.00_0.01/48a2a42b19814efaa824450f23e8a253.png" />
            </a>
        </li>
    </ul>
</nav>
<!-- /Nav -->