.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-primary {
    background-color: #283479;
    border-color: #283479;
}

.btn-control {
    border-radius: 100%;
    padding: 10px;
    max-width: 40px;
    max-height: 40px;
    font-size: 20px;
}

.disabled {
    cursor: not-allowed;

}

.btn-primary.disabled {
    background-color: #999999;
    border-color: #999999;
}

.flexcontainer {
    display: flex;
    align-items: center;
    padding-top: 5px;
}
@media (max-width: 320px) {
    .flexcontainer {
        display: block;
    }
}

.cardImg {
    max-width: 200px;
}

#description ol {

    list-style-type: circle;
    list-style-position: outside;
    padding-left: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
}

#descUpload ol {

    list-style-type: decimal;
    padding-left: 1.5em;
}

#description li {
    padding-top: 1em;
}

#cardContainer ul {
    list-style: none;
    font-size: 0.8em;
    max-width: 380px;
    overflow: hidden;
}

#cardContainer li {
    /*text-indent: -1.35em;*/
    /*padding-top: 0.5em;*/
    /*max-width: 325px;*/
    padding-left: 1em;
    padding-top: 0.5em;
}

#cardContainer li:before {
    /*content: '\e86a';*/
    padding-right: 5px;
}

#description {

    font-size: 70%;
    line-height: 120%;

}

/* Shine */
.hover14 {
    position: relative;
    cursor: pointer;
}

#descSignWarning {
    color: red;
}


#pageNumber {
    width: 50px;
    height: 30px;
    font-size: 9pt;
}

#totalPages {
    font-size: 9pt;
    display: inline;
}

#pdf_canvas_wrapper button {
    padding: 3px 6px;
    height: 30px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.certPreview {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
    display: inline;
    
}

.option {
    margin-top: 20px;
}

.option input{
    height: 10px;
}

