<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comprehensive Validation Service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" th:href="@{/css/futuretrust.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="icon" th:href="@{/images/icon.jpg}" sizes="16x16" type="image/jpeg" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{/css/ie8.css}" /><![endif]-->
</head>
<body>
<div th:include="fragments/header"></div>
<div class="container">
    ERROR
</div>
<div th:include="fragments/footer"></div>
</body>
</html>